<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.erp.userWeb.model.MemberDAO">
<!--

	public CustomerDTO getCustomerInfoByPhone(String customerPhone);			//전화번호로 고객정보 조회
	public void insertCustomer(CustomerDTO dto);					//회원가입..
	public void updateCustomer(CustomerDTO dto);					//회원가입..2
	public CustomerDTO getCustomerInfoByCode(int customercode);				//고객코드로  고객정보 조회
-->

	<select id="getCustomerInfoByPhone" parameterType="String" resultType="com.cafe.erp.cs.model.CustomerDTO">
		select * from CAFE_CUSTOMER where customer_phone = #{customerPhone}
	</select>
	
	<insert id="insertCustomer" parameterType="com.cafe.erp.cs.model.CustomerDTO">
		insert into CAFE_CUSTOMER(customer_code, customer_name, customer_phone, customer_birth, customer_gender,customer_stamp,customer_pwd) values( (select NVL(max(customer_code), 0)+1 from CAFE_CUSTOMER),#{customer_name},#{customer_phone},#{customer_birth},#{customer_gender},0,#{customer_pwd} )
    </insert>
   
	<update id="updateCustomer" parameterType="com.cafe.erp.cs.model.CustomerDTO">
		update CAFE_CUSTOMER set customer_code=(select NVL(max(customer_code), 0)+1 from CAFE_CUSTOMER), customer_name = #{customer_name}, customer_phone=#{customer_phone}, customer_birth=#{customer_birth}, customer_gender=#{customer_gender},  customer_pwd=#{customer_pwd}
  			 where customer_phone=#{customer_phone}
	</update>
   
    <select id="getCustomerInfoByCode" parameterType="integer" resultType="com.cafe.erp.cs.model.CustomerDTO">
		select * from CAFE_CUSTOMER where customer_code = #{customercode}
	</select>
   
</mapper>