<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.erp.userWeb.model.OrderWebDAO">
<!--
	public int getOrderWebCount(int customer_code);				//해당 고객의 총 주문 음료수 가져오기
	public int getOrderWebTotal(int customer_code);				//해당 고객의 총 주문 금액 가져오기
	public void insertOrderWeb(OrderWebDTO dto);				//주문테이블에 저장
	
	public int getOrderWebRecent();								//주문테이블의 가장 최근 코드값 가져오기
	public void insertOrderWebList(HashMap map);			//주문내역테이블에저장
	public List<ProductCartAddDTO> getProductCartAddList();		//장바귀 옵션내역 테이블 가져오기
	public void insertOrderWebListAdd(ProductCartAddDTO dto);			//주문내역테이블에저장
	
	public List<OrderWebDTO> getOrderWebList(int customer_code);		//해당 고객의 주문 list 불러오기
	public List<OrderWebListAddJoinDTO> getOrderWebListAddJoinList(int order_web_code);		// 주문번호에 해당하는 주문내역들 조인해서 가져요기..
	
	public int getOrderWebCheck();				//order_web_check 가 0 인 레코드수 가져오기 >> 주문접수가 안된 web주문건수 가져오기
	
	public List<OrderWebDTO> getOrderWebListAll(String date); //pos화면에서 오늘날짜의 모든 목록을 가져올때
	public void updateOrderWebCheck(int order_web_code);		// 해당주문의 주문접수 확인 처리하기
	public void insertOrderWebListAdd(int orderList_web_code, int product_add_code);			//주문내역테이블에저장
-->


	<select id="getOrderWebCount" parameterType="int"  resultType="Integer" >
		 select sum(cart_num) from cafe_cart where customer_code=#{customer_code}
 	</select>

	<select id="getOrderWebTotal" parameterType="int"  resultType="Integer" >
		 select sum(order_web_total) from(
				select a.cart_num , b.cafe_product_price , a.cart_num*b.cafe_product_price order_web_total 
				from CAFE_CART a, CAFE_PRODUCT b where a.cafe_product_code=b.cafe_product_code and customer_code=#{customer_code})
 	</select>

	<insert id="insertOrderWeb" parameterType="com.cafe.erp.userWeb.model.OrderWebDTO">
		insert into CAFE_ORDER_WEB(order_web_code,order_web_total,order_web_count,order_web_date,customer_code,order_web_check) values((select NVL(max(order_web_code), 0)+1 from CAFE_ORDER_WEB),#{order_web_total},#{order_web_count},sysdate,#{customer_code},0)	
	</insert>
	
	<insert id="insertOrderWebList" parameterType="hashmap">
		insert into CAFE_ORDERList_web(orderList_web_code,cafe_product_code,orderList_web_count,order_web_code) values((select NVL(max(orderList_web_code), 0)+1 from CAFE_ORDERList_web),#{cartdto.cafe_product_code},#{cartdto.cart_num},#{order_web_code})	
	</insert>

	<select id="getOrderWebRecent" resultType="Integer" >
		  select max(order_web_code) from CAFE_ORDER_WEB
 	</select>

	<select id="getProductCartAddList" resultType="com.cafe.erp.userWeb.model.ProductCartAddDTO"  >
		  select * FROM CAFE_CART_ADD order by cart_code,PRODUCT_ADD_CODE
 	</select>
 	
 	<insert id="insertOrderWebListAdd" parameterType="com.cafe.erp.userWeb.model.ProductCartAddDTO">
		insert into CAFE_ORDERLIST_ADD_web(orderList_web_code,PRODUCT_ADD_CODE) values(#{cart_code},#{product_add_code})	
	</insert>
	
	<select id="getOrderWebList" parameterType="int" resultType="com.cafe.erp.userWeb.model.OrderWebDTO"  >
		  select * FROM CAFE_ORDER_WEB where customer_code=#{customer_code} order by order_web_code desc
 	</select>
	
	<select id="getOrderWebListAddJoinList" parameterType="int" resultType="com.cafe.erp.userWeb.model.OrderWebListAddJoinDTO"  >    
  
 select a.orderList_web_code,a.cafe_product_code,a.orderList_web_count,a.order_web_code,nvl(b.PRODUCT_ADD_CODE,0) product_add_code
 from CAFE_ORDERList_web a, CAFE_ORDERLIST_ADD_web b
 where a.orderList_web_code=b.orderlist_web_code(+) and a.order_web_code=#{order_web_code} order by a.orderList_web_code,b.product_add_code 
 
 	</select>

	
	<select id="getOrderWebCheck" resultType="Integer"  >
		  select count(*) FROM CAFE_ORDER_WEB where order_web_check=0 
 	</select>
	
	
	<select id="getOrderWebListAll" parameterType="String" resultType="com.cafe.erp.userWeb.model.OrderWebDTO"  >
		  select order_web_code,order_web_total,order_web_count,order_web_date, customer_code,order_web_check from (select order_web_code,order_web_total,order_web_count,order_web_date, customer_code,order_web_check, TO_CHAR(order_web_date,'YY/MM/DD') as today from CAFE_ORDER_WEB )
where today=#{date} order by order_web_code desc
 	</select>	
 	
 	<update id="updateOrderWebCheck"  parameterType="int"  >
 		UPDATE CAFE_ORDER_WEB SET order_web_check =1 where order_web_code=#{order_web_code}
 	</update>
 	

	<insert id="insertOrderWebListAdd2" parameterType="hashmap">
		insert into CAFE_ORDERLIST_ADD_web values(#{orderList_web_code},#{product_add_code})	
	</insert>
	
	
</mapper>