<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.erp.sale.model.ProductAddDAO">
<!-- 	
	public void insertProductAdd(ProductAddDTO dto);				//쓰기
	public List<ProductAddDTO> getProductAddList(HashMap map);		//읽기
	public ProductAddDTO getProductAddByCode(int num);				//읽기 by num
	public int updateProductAdd(ProductAddDTO dto);					//수정
	public int deleteProductAdd(ProductAddDTO dto);					//삭제

 -->


	<insert id="insertProductAdd" parameterType="com.cafe.erp.sale.model.ProductAddDTO">
		insert into CAFE_PRODUCT_ADD(PRODUCT_ADD_CODE, PRODUCT_ADD_NAME,PRODUCT_ADD_PRICE) values((select NVL(max(PRODUCT_ADD_CODE), 0)+1 from CAFE_PRODUCT_ADD),#{product_add_name},#{product_add_price})
	</insert>

	<select id="getProductAddList" parameterType="hashmap" resultType="com.cafe.erp.sale.model.ProductAddDTO">
		select * from CAFE_PRODUCT_ADD
	</select>
	
	<select id="getProductAddByCode" parameterType="int" resultType="com.cafe.erp.sale.model.ProductAddDTO">
		select * from CAFE_PRODUCT_ADD where PRODUCT_ADD_CODE=#{num}
	</select>
	
	<update id="updateProductAdd"  parameterType="com.cafe.erp.sale.model.ProductAddDTO">
 		update CAFE_PRODUCT_ADD set PRODUCT_ADD_NAME=#{product_add_name},PRODUCT_ADD_PRICE=#{product_add_price}
		where PRODUCT_ADD_CODE=#{product_add_code}  
	</update>

	<delete id="deleteProductAdd" parameterType="com.cafe.erp.sale.model.ProductAddDTO" >
		delete from CAFE_PRODUCT_ADD where PRODUCT_ADD_CODE=#{product_add_code}  
	</delete>
	
	

</mapper>