<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.cafe.erp.store.model.ProductOrderDAO">

	<insert id="orderinsert" parameterType="com.cafe.erp.store.model.ProductOrderDTO">
		insert into cafe_productorder (productOrder_code, productOrder_date, prodectOrder_total)
		values((select NVL(max(productOrder_code),0) + 1 from cafe_productorder), sysdate, #{prodectOrder_total})
	</insert>
	
	<select id="showorderlist" parameterType="hashmap" resultType="com.cafe.erp.store.model.ProductOrderDTO">
		select * from
		( select A.*, rownum r from
		( select * from cafe_productorder ORDER BY productorder_code asc) A
		)
		where r >= #{ start } and r &lt;= #{ end }
	</select>
	<select id="getordercount" resultType="integer">
		select count(*) from cafe_productorder
	</select>
	
	<select id="getaccountnumber" resultType="com.cafe.erp.store.model.AccountDTO">
		select account_number from cafe_account
	</select>
	</mapper>