<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.erp.cs.model.CustomerDAO">



   <insert id="insertBoard" parameterType="com.cafe.erp.cs.model.CustomerDTO">
      insert into CAFE_CUSTOMER(customer_code, customer_name, customer_phone, customer_birth, customer_gender,customer_stamp,customer_pwd) values( (select NVL(max(customer_code), 0)+1 from CAFE_CUSTOMER),#{customer_name},#{customer_phone},#{customer_birth},#{customer_gender},#{customer_stamp},#{customer_pwd} )
   </insert>

   <select id="getBoardList" parameterType="hashmap" resultType="com.cafe.erp.cs.model.CustomerDTO">
      select * from ( select A.*, rownum r from ( select * from CAFE_CUSTOMER order by customer_code desc) A ) where r>= #{start} and r &lt;= #{end}
   </select>
   
   <select id="getBoard" parameterType="Integer" resultType="com.cafe.erp.cs.model.CustomerDTO">
   select * from CAFE_CUSTOMER where customer_code = #{customer_code}
   </select>
   
   <update id="updateBoard" parameterType="com.cafe.erp.cs.model.CustomerDTO">
   update CAFE_CUSTOMER set customer_name = #{customer_name}, customer_phone=#{customer_phone}, customer_birth=#{customer_birth}, customer_gender=#{customer_gender}, customer_stamp=#{customer_stamp}, customer_pwd=#{customer_pwd}
   where customer_code = #{customer_code}
   
   </update>

   <delete id="deleteBoard" parameterType="com.cafe.erp.cs.model.CustomerDTO">
   delete from CAFE_CUSTOMER where customer_code = #{customer_code}
   
   </delete>

   <select id="getBoardCount" resultType="Integer">
      select count(*) from CAFE_CUSTOMER
   </select>
   


</mapper>