@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 
/* 폰트 Weight ExL 100, L 300, R 400, M 500, B 700, H 900 */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900');
/* 폰트 Weight ExL 200, L 300, R 400, SeB 600, B 700, ExB 800, BK 900 */

body, html{width:100%; height:100%; background-color:#FFFFFF; min-width:320px;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0px; padding:0px;}
body,input,textarea,select,table,a,p{font-family:'Noto Sans KR', '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif; font-size:13px; color:#464646; line-height:1.7em;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img,fieldset{border:0px; vertical-align:top;}
ul,ol,dl{list-style-type:none;}
a{text-decoration:none; color:#464646;}
caption, legend{border:0px; display:none;}
em{font-weight:bold; font-style:normal;}
table{width:100%; border:0; border-collapse:collapse;}
button,html input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button}

@font-face{font-family:NS;
src:url('../font/NanumSquare.eot');
src:local('☺'), url('../font/NanumSquare.woff') format('woff');
font-style:normal;}

.nunito{font-family:'Nunito Sans', sans-serif;}
.ns{font-family:'나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;}
.blind{display:block; overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px;}
input[type="search"]{-webkit-appearance:textfield; box-sizing:content-box; outline:none;} /*web chorome,safari remove border*/
.float_clear:after{display:block; clear:both; content:"";}

header{position:absolute; width:100%; min-width:320px; height:90px; background:#FFF; z-index:52;}
header .global_menu{display:table; width:100%; border-bottom:solid 1px #ededed;}
header .global_menu li{float:left; width:33.33%; text-align:center; background:url(../images/common/util_line.gif) no-repeat; background-position:right;}
header .global_menu li:last-child{background:none;}
header .global_menu li a{display:block; height:30px; line-height:30px; font-size:12px; color:#848484;}
header .global_menu li.on a{color:#1d326c;}
header h1.top_logo{float:left; margin:19px 0 0 15px;}
header h1.top_logo img{width:182px; height:auto;}
header h1.top_logo a span.nav_w{display:block;}
header h1.top_logo a span.nav_b{display:none;}
header h2.nav_btn{float:right; margin:19px 17px 0 0;}
header h2.nav_btn a{display:block; width:26px; height:22px; background:url(../images/common/m_nav_btn.gif) no-repeat;}
.gnb{display:none;}
.gnb.on{display:block; position:fixed; width:100%; height:100%; top:0; z-index:50;}
.gnb .nav_close{position:absolute; right:85.93%; margin:17px 13px 0 0; z-index:50;}
.gnb .gnb_wrap{position:absolute; width:85.93%; height:100%; right:0; background:#1d326c; overflow-y:auto; z-index:50;}
.gnb .top_util{float:left; width:100%; margin:14px 0;}
.gnb .top_members{float:left; margin:2px 20px 0 25px;}
.gnb .top_members li{float:left; margin-left:12px; padding-left:13px; background:url(../images/common/util_line_m.gif) no-repeat left;}
.gnb .top_members li:first-child{background:none; margin-left:0; padding-left:0;}
.gnb .top_members li a{font-size:14px; color:#8e99b6;}
.gnb .top_members li.store,
.gnb .top_members li.customer{display:none;}
.gnb .top_sns{float:right; margin-right:15px;}
.gnb .top_sns li{float:left; margin-left:5px;}
.gnb .top_sns li a{display:block; width:28px; height:28px;}
.gnb .top_sns li:nth-child(1) a{background:url(../images/common/m_top_sns01.gif) no-repeat; background-size:cover;}
.gnb .top_sns li:nth-child(2) a{background:url(../images/common/m_top_sns02.gif) no-repeat; background-size:cover;}
.gnb .top_sns li:nth-child(3) a{background:url(../images/common/m_top_sns03.gif) no-repeat; background-size:cover;}
.gnb .top_sns li:nth-child(4) a{background:url(../images/common/m_top_sns04.gif) no-repeat; background-size:cover;}
.gnb .language_tab{display:none;}
.gnb .language_m{position:relative; float:left; width:100%; padding:20px 0;}
.gnb .language_m li{float:left; width:33.33%; text-align:center; background:url(../images/common/util_line_m.gif) no-repeat right;}
.gnb .language_m li a{color:#8e99b6;}
.gnb .language_m li.on a{color:#FFF;}

.gnb .main{float:left; width:100%; border-top:solid 1px #192d65; border-bottom:solid 1px #2e437c;}
.gnb .main li{background:url(../images/common/m_nav_arrow.gif) no-repeat right 20px;}
.gnb .main li a{display:block; height:48px; line-height:48px; border-top:solid 1px #2e437c; border-bottom:solid 1px #192d65; padding-left:25px; font-family: 'Nunito Sans', sans-serif; color:#FFF; font-size:16px;}
.gnb .main li a.main_link{position:relative; width:80%; margin-top:-50px; z-index:20;}
.gnb .main li.on{background:url(../images/common/m_nav_arrow_on.gif) no-repeat right 20px;}
.gnb .main li .sub{display:none;}
.gnb .main li.on .sub{display:block;}
.gnb .sub > li{background:#2a4181;}
.gnb .sub > li > a{border-top:solid 1px #344a86; border-bottom:solid 1px #203570; font-family:'Noto Sans KR', sans-serif; font-size:14px;}
.gnb:after{display:block; content:""; position:fixed; width:100%; height:100%; z-index:49; background:#000; opacity:0.7;}
.gnb .find_store{float:left; width:100%; text-align:right; height:50px; line-height:50px; background:#192d65; border-bottom:solid 1px #2e437c;}
.gnb .find_store li{float:right; background:url(../images/common/util_line_m.gif) no-repeat left;}
.gnb .find_store li:last-child{background:none;}
.gnb .find_store a{display:inline-block; font-size:14px; color:#FFF; padding:0 15px;}
.gnb .find_store a span{display:inline-block; background:url(../images/common/m_store_btn.png) no-repeat right; padding-right:23px; background-size:13px; margin-right:2px;}

.top_fixed{position:fixed; height:60px; border-bottom:solid 1px #d9d9d9; z-index:50;}
.top_fixed .global_menu{display:none;}

/* 상단 Black 바탕 버전 */
/*.coffee_nav header{background:#000;}
.coffee_nav .global_menu{border-bottom:solid 1px #000;}
.coffee_nav .global_menu li{background:url(../images/common/util_line_b.gif) no-repeat; background-position:right;}
.coffee_nav .global_menu li a{color:#ababab;}
.coffee_nav .global_menu li.on a{color:#fff;}
.coffee_nav .gnb .gnb_wrap{background:#000;}
.coffee_nav .gnb .top_util li a{color:#ababab;}*/

#contentWrap{padding-top:90px; word-break:keep-all; position:relative; }
#contentWrap .parking_area span img{position:absolute; top:4.5%; left:10%; width:80%;  z-index:50; }
#contentWrap .parking_area span .m_parking{position:absolute; top:1.7%; left:2%;  width:12%; }
#contentWrap .parking_area .parking_pop{display:none;}
#contentWrap .parking_area .close_parking{position:absolute; z-index:60; top: 5%; right:14%; border:0; background-color:transparent; cursor:pointer;}
#contentWrap .parking_area .close_parking img{width:60%;}

.sub_visual{width:100%; height:160px; position:relative;}
.sub_visual h1.con_tt{padding:70px 0 19px; font-family:'나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum; text-align:center; font-size:30px; font-weight:lighter; color:#202023; line-height:1.2em;}
.sub_visual h1.con_tt img{width:auto; height:32px;}
.sub_visual .menu_txt{display:none;}
.sub_visual .visual_mt{display:none; /*width:60%; margin:-10px auto 0; font-family:'Nunito Sans', sans-serif; text-align:center; font-size:18px; color:#202023;*/}
.sub_visual .visual_txt{display:none; /*width:50%; margin:auto; font-family:'나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum; text-align:center; font-size:14px; color:#949495; line-height:1.3em;*/}
.sub_visual .visual_txt_b{color:#202023;}
.lnb{width:100%; text-align:left;}
.lnb li{display:inline-block; width:50%;  border:solid 1px #98989e; opacity:0.7; border-left:none; box-sizing:border-box; margin-bottom:-1px;}
.lnb li:first-child{border-left:solid 1px #98989e;}
.lnb li a{display:block; height:37px; line-height:37px; color:#202023; text-align:center;}
.lnb li:hover, .lnb li.on{background:#84847c; border:solid 1px #84847c; opacity:1;}
.lnb li:hover a, .lnb li.on a{color:#FFF; font-weight:500;}

.parking_area p{color:#fff; font-size:20px; font-weight:800; text-align:center; padding-top:60px;}


/* 상단 Visual 텍스트 화이트 */
.visual_txt_w .sub_visual h1.con_tt{color:#FFF;}
.visual_txt_w .sub_visual .visual_mt{color:#FFF;}
.visual_txt_w .sub_visual .visual_txt{color:#b9b8b8;}
.visual_txt_w .sub_visual .menu_txt{color:#FFF;}
/* 상단 Visual 텍스트 화이트 */

.location{display:none;}

.bottom_bn01{width:100%; background:url(../images/common/bottom_bn_bg01.gif) repeat-x;}
.bottom_bn01 a{display:block; height:140px; background:url(../images/common/bottom_bn_img01.png) no-repeat; background-position:bottom; background-size:cover;}
.bottom_bn01 a img{margin:38px 0 10px 20px; width:140px; height:auto;}
.bottom_bn01 a span{display:block; margin-left:20px; font-size:14px; font-weight:500; color:#272623;}
.bottom_bn01 a span em{font-weight:500; text-decoration:underline;}
.bottom_bn02{width:100%; background:url(../images/common/bottom_bn_bg02.gif) no-repeat; background-size:cover;}
.bottom_bn02 a{display:block; height:140px; color:#FFF; background:url(../images/common/bottom_bn_img02.png) no-repeat; background-position:90% 50px;}
.bottom_bn02 a em{display:inline-block; margin:47px 0 4px 20px; font-size:18px;}
.bottom_bn02 a span{display:block; margin-left:20px; font-size:14px; font-weight:500;}
footer{position:relative; clear:both; width:100%; background:#262626; text-align:center;}
footer .bottom_util{border-bottom:solid 1px #464646; padding:16px 0;}
footer .bottom_util li{display:inline-block; margin:3px 19px;}
footer .bottom_util li a{color:#818181;}
footer .bottom_util li a em{color:#FFF; font-weight:400;}
footer .bottom_ccm{width:100%; text-align:center; margin-top:30px;}
footer .bottom_ccm img{width:170px; height:auto;}
footer .bottom_logo{margin:30px 0 13px;}
footer .bottom_logo img{width:182px; height:auto;}
footer .copy_info{width:90%; max-width:650px; margin:auto; margin-bottom:14px; font-size:12px; color:#6c6c6c;}
footer .copy_info span{display:inline-block; background:url(../images/common/footer_line.gif) no-repeat right; margin-right:10px; padding-right:10px;}
footer .copy{padding-bottom:35px; font-family:'Nunito Sans', sans-serif; font-size:12px; font-weight:700; color:#6c6c6c;}

/* 메뉴 상단 제품 디테일 */
.top_pro_detail{padding:40px 4% 0;}
.top_pro_detail .top_pro_title{padding-bottom:20px; margin-bottom:20px; border-bottom:solid 2px #232326;}
.top_pro_detail .top_pro_title dt{font-size:20px; font-weight:700;}
.top_pro_detail .top_pro_title dd{font-size:14px; font-weight:300; color:#939394;}
.top_pro_detail .top_pro_con{line-height:1.4em; font-size:16px;}
.top_pro_detail .top_pro_img{margin:30px 0; padding:40px 0; background:#f8f8f8; text-align:center;}
.top_pro_detail .top_pro_img img{width:100%; max-width:320px;}
.top_pro_detail .top_pro_nutri h4.nutri_tt{padding-bottom:15px; border-bottom:1px solid #232326; font-size:16px; font-weight:500;}
.top_pro_detail .top_pro_nutri .nutri_con{padding:15px 0;}
.top_pro_detail .top_pro_nutri .nutri_con ul li{line-height:30px;}
.top_pro_detail .top_pro_nutri .nutri_con ul li dl{overflow:hidden;}
.top_pro_detail .top_pro_nutri .nutri_con ul li dt{float:left; font-size:16px;}
.top_pro_detail .top_pro_nutri .nutri_con ul li dd{float:right; font-size:16px; font-weight:700;}
.top_pro_detail .top_pro_nutri .allergy_info{height:60px;background:#f8f8f8;}
.top_pro_detail .top_pro_nutri .allergy_info p{padding-left:15px; line-height:60px; font-size:16px; font-weight:700; color:#253b82;}

/* 640px 이상 해상도 */
@media screen and (min-width:640px){
.coffee_nav #contentWrap{position:relative;}
.coffee_nav #contentWrap .parking_area span img{position:absolute; top:5%; left:10%; width:80%;  z-index:50; }
.coffee_nav #contentWrap .parking_area span .m_parking{position:absolute; top:1.8%; left:2%;  width:12%; }
.coffee_nav #contentWrap .parking_area .parking_pop{display:none;}
.coffee_nav #contentWrap .parking_area .close_parking{position:absolute; z-index:60; top: 5.7%; right:17%; border:0; background-color:transparent; cursor:pointer;}
#contentWrap .parking_area .close_parking img{width:100%;}


.sub_visual{height:220px;}
.sub_visual h1.con_tt{padding:60px 0 19px; font-size:40px;}
.sub_visual .visual_txt{display:block; width:auto; margin:auto; font-family:'나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum; text-align:center; font-size:18px; color:#000; line-height:1.3em;}
.sub_visual .visual_txt span{display:block;}

.parking_area p{color:#fff; font-size:20px; font-weight:800; text-align:center; padding-top:60px;}

.bottom_bn01 a{background-position:right; background-size:auto;}
.bottom_bn01 a img{margin:33px 0 10px 10%; width:auto; height:auto;}
.bottom_bn01 a span{margin-left:10%;}
.bottom_bn02 a em{margin:47px 0 4px 10%;}
.bottom_bn02 a span{margin-left:10%;}

/* 메뉴 상단 제품 디테일 */
.top_pro_detail{overflow:hidden;}
.top_pro_detail .top_pro_info{float:right; width:calc(100% - 280px);}
.top_pro_detail .top_pro_img{float:left; width:250px; margin:0 30px 0 0;}
.top_pro_detail .top_pro_nutri{float:right; width:calc(100% - 280px); margin-top:30px;}
.top_pro_detail .top_pro_nutri .nutri_con{overflow:hidden;}
.top_pro_detail .top_pro_nutri .nutri_con ul{float:left; width:50%;}
.top_pro_detail .top_pro_nutri .nutri_con ul:first-child{border-right:1px solid #e6e6e6; box-sizing:border-box;}
.top_pro_detail .top_pro_nutri .nutri_con ul:first-child li{padding-right:15px;}
.top_pro_detail .top_pro_nutri .nutri_con ul:last-child li{padding-left:15px;}
}

/* 980px 이상 해상도 */
@media screen and (min-width:980px){
.coffee_nav #contentWrap{position:relative;}
.coffee_nav #contentWrap .parking_area span img{position:absolute; top:6%; left:10%; width:80%; z-index:50; }
.coffee_nav #contentWrap .parking_area span .m_parking{position:absolute; top:1.8%; left:2%; width:12%; }
.coffee_nav #contentWrap .parking_area .parking_pop{display:none;}
.coffee_nav #contentWrap .parking_area .close_parking{position:absolute; z-index:60; top: 7%; right:16%; border:0; background-color:transparent; cursor:pointer; }

.parking_area p{color:#fff; font-size:20px; font-weight:800; text-align:center; padding-top:60px;}

footer .bottom_ccm{position:absolute; text-align:right;}
footer .bottom_ccm span{display:block; width:98%; max-width:1178px; margin:auto;}
}

/* 1180px 이상 해상도 */
@media screen and (min-width:1180px){
.top_align{position:relative; max-width:1180px; margin:auto;}

header{height:130px;}
header .global_menu{position:relative; float:left; width:auto; border-bottom:none; z-index:51; margin-top:17px;}
header .global_menu li{width:auto; margin-right:17px; padding-right:18px;}
header .global_menu li a{font-size:13px;}
header .global_menu li.on a{border-bottom:none;}
header h1.top_logo{position:relative; clear:both; margin:32px 0 0 0; z-index:51;}
header h1.top_logo img{width:auto;}
header h2.nav_btn{display:none;}
.gnb{display:block;}
.gnb.on{height:auto;}
.gnb .nav_close{display:none;}
.gnb .gnb_wrap{width:1180px; height:auto; top:0; left:0; background:#FFF; overflow:visible;}
.gnb .top_util{float:right; width:auto; margin:17px 0 0 0;}
.gnb .top_members{margin:0 20px 0 25px;}
.gnb .top_members li{margin-left:17px; padding-left:18px; background:url(../images/common/util_line.gif) no-repeat left;}
.gnb .top_members li a{font-size:13px; height:30px; line-height:30px; color:#848484;}
.gnb .top_members li a:hover, .gnb .top_util li a:focus, .gnb .top_util li a:active{color:#000;}
.gnb .top_members li.store,
.gnb .top_members li.customer{display:block;}
.gnb .top_sns{float:left; margin:4px 15px 0 0;}
.gnb .top_sns li{margin:0 5px 0 0;}
.gnb .top_sns li a{width:22px; height:22px;}
.gnb .top_sns li:nth-child(1) a{background:url(../images/common/top_sns01.gif) no-repeat;}
.gnb .top_sns li:nth-child(2) a{background:url(../images/common/top_sns02.gif) no-repeat;}
.gnb .top_sns li:nth-child(3) a{background:url(../images/common/top_sns03.gif) no-repeat;}
.gnb .top_sns li:nth-child(4) a{background:url(../images/common/top_sns04.gif) no-repeat;}
.gnb .language_tab{position:relative; float:left; display:block; width:158px; border:solid 1px #d9d9d9;}
.gnb .language_tab a{display:block; height:28px; line-height:28px; background:url(../images/common/language_arrow.gif) no-repeat 135px 10px; padding-left:20px; color:#848484;}
.gnb .language_tab ul{position:absolute; width:100%; top:0; background:#FFF; border:solid 1px #d9d9d9; margin:-1px -1px 0 -1px; z-index:51;}
.gnb .language_tab ul li a{background:none;}
.gnb .language_tab ul li a:hover{color:#000;}
.gnb .language_m{display:none;}

.gnb nav:after{display:block; content:""; width:100%; position:fixed; top:90px; left:0; height:0; background:#FFF; border-bottom:solid 1px #FFFFFF; z-index:-1;
		    transition-timing-function:ease-in-out;
     -o-transition-timing-function:ease-in-out;
   -moz-transition-timing-function:ease-in-out;
-webkit-transition-timing-function:ease-in-out;
        transition-duration:0.2s;
     -o-transition-duration:0.2s;
   -moz-transition-duration:0.2s;
-webkit-transition-duration:0.2s;}
.gnb nav:hover:after{height:280px; border-bottom:solid 2px #555555;}
.gnb .main{position:absolute; top:80px; left:243px; width:auto; border-top:none; border-bottom:none;}
.gnb .main li{background:none; float:left;}
.gnb .main li a{height:auto; line-height:normal; border-top:none; border-bottom:none; padding:0 46px; color:#202023;}
.gnb .main li a.main_link{display:none;}
.gnb .main li:last-child a{padding:0 0 0 46px;}
.gnb .main li a span{display:block; position:relative;}
.gnb .main li a span:after{display:block; content:""; width:0px; height:4px; background:#000; margin:3px auto;
		    transition-timing-function:ease-in-out;
     -o-transition-timing-function:ease-in-out;
   -moz-transition-timing-function:ease-in-out;
-webkit-transition-timing-function:ease-in-out;
        transition-duration:0.2s;
     -o-transition-duration:0.2s;
   -moz-transition-duration:0.2s;
-webkit-transition-duration:0.2s;}
.gnb .main li:hover a span:after, .gnb .main li.on a span:after{width:100%;}
.gnb .main li.on{background:none;}
.gnb .main li .sub, .gnb .main li.on .sub{display:block; position:absolute; padding-top:0; margin-top:-40px; z-index:50; height:1px; overflow:hidden; opacity:0;
		    transition-timing-function:ease-in-out;
     -o-transition-timing-function:ease-in-out;
   -moz-transition-timing-function:ease-in-out;
-webkit-transition-timing-function:ease-in-out;
        transition-duration:0.2s;
     -o-transition-duration:0.2s;
   -moz-transition-duration:0.2s;
-webkit-transition-duration:0.2s;}
.gnb nav:hover li .sub, .gnb nav:hover li.on .sub{padding-top:23px; margin-top:0; height:auto; opacity:1;}
.gnb .sub > li{clear:both; background:#none; width:170px; height:30px; line-height:30px; margin-left:0px;}
.gnb .sub > li:hover{border-bottom:none;}
.gnb .sub > li > a{border-top:none; border-bottom:none; font-size:13px; color:#848484; padding:0 0; margin-left:46px;}
.gnb .sub > li a:last-child{padding:0 0;}
.gnb .sub > li > a:hover, .gnb .sub > li > a:focus{color:#000;}
.gnb:after{display:none;}
.gnb .find_store{display:none;}

.top_fixed h1.top_logo{margin:21px 0 0 0;}
.top_fixed .top_util{display:none;}
.top_fixed .main{top:20px;}
.top_fixed nav:after{top:0;}
.top_fixed nav:hover .top_sns{top:192px;}

/* 상단 Black 바탕 버전 */
.coffee_nav header{background:none;}
.coffee_nav header h1.top_logo a span.nav_w{display:none;}
.coffee_nav header h1.top_logo a span.nav_b{display:block;}
.coffee_nav header .global_menu{border-bottom:solid 1px #000;}
.coffee_nav header .global_menu li{background:url(../images/common/util_line_b.gif) no-repeat; background-position:right;}
.coffee_nav header .global_menu li a{color:#ababab;}
.coffee_nav header .global_menu li.on a{color:#fff;}
.coffee_nav .gnb .gnb_wrap{background:none;}
.coffee_nav .gnb .top_members li{background:url(../images/common/util_line_b.gif) no-repeat left;}
.coffee_nav .gnb .top_sns li:nth-child(1) a{background:url(../images/common/top_sns01_b.gif) no-repeat;}
.coffee_nav .gnb .top_sns li:nth-child(2) a{background:url(../images/common/top_sns02_b.gif) no-repeat;}
.coffee_nav .gnb .top_sns li:nth-child(3) a{background:url(../images/common/top_sns03_b.gif) no-repeat;}
.coffee_nav .gnb .top_sns li:nth-child(4) a{background:url(../images/common/top_sns04_b.gif) no-repeat;}
.coffee_nav .gnb .top_util li a{color:#ababab;}
.coffee_nav .gnb .top_util .language_tab{border:solid 1px #343434;}
.coffee_nav .gnb .top_util .language_tab a{background:url(../images/common/language_arrow_b.gif) no-repeat 135px 10px; color:#ababab;}
.coffee_nav .gnb .top_util .language_tab ul{background:#000; border:solid 1px #343434;}
.coffee_nav .gnb .top_util .language_tab ul li a:hover{color:#fff;}

.coffee_nav .gnb nav:after{background:#000; border-bottom:solid 1px #000000;}
.coffee_nav .gnb nav:hover:after{border-bottom:solid 2px #333;}
.coffee_nav .gnb .main li a{color:#fff;}
.coffee_nav .gnb .main li a span:after{background:#fff;}
.coffee_nav .gnb .sub > li > a{border-top:none; border-bottom:none; font-size:13px; color:#ababab;}
.coffee_nav .gnb .sub > li > a:hover, .coffee_nav .gnb .sub > li > a:focus{color:#fff;}

.coffee_nav .top_fixed{background:#000; border-bottom:solid 1px #333;}


.coffee_nav #contentWrap{padding-top:0; position:relative;}
.coffee_nav #contentWrap .parking_area span img{position:absolute; top:3%; left:5%; width:23%; z-index:50; }
.coffee_nav #contentWrap .parking_area span .m_parking{display:none; }
.coffee_nav #contentWrap .parking_area .parking_pop{display:block;}
.coffee_nav #contentWrap .parking_area .close_parking{display:none;}
.coffee_nav .sub_visual{height:590px;  /*position:relative;*/}
.coffee_nav .sub_visual .parking_area span img{/*position:absolute; top:15%; left:0; width:400px; height:566px; z-index:50;*/ }

.coffee_nav .sub_visual h1.con_tt{padding:248px 0 19px;}
.coffee_nav .sub_visual h1.con_tt span{display:inline-block; width:267px; height:243px; background:url(../images/coffee/lab_menu_tt.png) no-repeat;}
.coffee_nav .sub_visual h1.con_tt img{display:none;}
.coffee_nav .lnb{top:698px;}

.parking_area p{color:#fff; font-size:20px; font-weight:800; text-align:center; padding-top:100px;}


/* 상단 Black 바탕 */

#contentWrap{padding-top:130px;}
.sub_visual{height:460px;}
.sub_visual h1.con_tt{padding:116px 0 19px; font-size:48px;}
.sub_visual h1.con_tt img{width:auto; height:auto;}
.sub_visual .menu_txt{display:block;  width:auto; margin:-10px auto 0; font-family:'Nunito Sans', sans-serif; text-align:center; font-size:26px; color:#202023;}
.sub_visual .visual_mt{display:block; width:auto; margin:-10px auto 4px; font-family:'나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum; text-align:center; font-size:38px; color:#202023; letter-spacing:-0.1em;}
.lnb{position:absolute; top:431px; text-align:center;}
.lnb li{width:178px;}

/* 상단 Visual 텍스트 화이트 */
.visual_txt_w .lnb li{border:solid 1px #FFF;}
.visual_txt_w .lnb li:first-child{border-left:solid 1px #FFF;}
.visual_txt_w .lnb li a{color:#FFF;}
.visual_txt_w .lnb li:hover, .visual_txt_w .lnb li.on{background:#FFF;}
.visual_txt_w .lnb li:hover a, .visual_txt_w .lnb li.on a{color:#010101;}
/* 상단 Visual 텍스트 화이트 */

/* Visual 큰 버전 */
.visual_big .sub_visual{height:850px;}
.visual_big .sub_visual h1.con_tt{padding:226px 0 75px; font-size:48px;}
.visual_big .sub_visual h1.rental_tt{padding:132px 0 20px;}
.visual_big .sub_visual h1.rental_tt span{display:inline-block; width:359px; height:210px; background:url(../images/culture/rental_tt.png) no-repeat;}
.visual_big .sub_visual h1.rental_tt img{display:none;}
.visual_big .lnb{top:683px;}
/* Visual 큰 버전 */

.location{display:block; max-width:1180px; text-align:right; margin:0 auto; padding-top:38px; color:#898989; font-size:12px;}
.location span{background:url(../images/common/icon_loc.png) right no-repeat; margin-right:8px; padding-right:15px;}

.bottom_bn01{position:relative; float:left; width:50%; z-index:1;}
.bottom_bn01 a{float:right; width:785px; height:160px; margin-right:-195px;}
.bottom_bn01 a img{margin:48px 0 10px 120px;}
.bottom_bn01 a span{margin-left:120px;}
.bottom_bn02{float:left; width:50%;}
.bottom_bn02 a{width:495px; height:160px; margin-left:95px; background-position:375px 60px;}
.bottom_bn02 a em{margin:57px 0 4px 118px;}
.bottom_bn02 a span{margin-left:118px;}
footer .bottom_ccm span{width:100%;}
footer .bottom_logo{margin:41px 0 24px;}
footer .bottom_logo img{width:auto; height:auto;}

/* 메뉴 제품 상단 디테일 */
.top_pro_detail{position:relative; width:1180px; margin:40px auto 80px; height:460px; padding:0;}
.top_pro_detail .top_pro_title{padding-bottom:25px; margin-bottom:25px;}
.top_pro_detail .top_pro_title dt{font-size:25px;}
.top_pro_detail .top_pro_title dd{margin-top:5px; font-size:16px;}
.top_pro_detail .top_pro_con{font-size:18px;}
.top_pro_detail .top_pro_img{width:470px; height:460px;}
.top_pro_detail .top_pro_info{position:absolute; top:10px; right:0; width:calc(100% - 530px);}
.top_pro_detail .top_pro_nutri{position:absolute; bottom:0; right:0; width:calc(100% - 590px); padding:0 30px; background:#f8f8f8;}
.top_pro_detail .top_pro_nutri h4.nutri_tt{height:60px; line-height:60px; padding-bottom:0;}
.top_pro_detail .top_pro_nutri .nutri_con{padding:20px 0;}
.top_pro_detail .top_pro_nutri .nutri_con ul:first-child li{padding-right:30px;}
.top_pro_detail .top_pro_nutri .nutri_con ul:last-child li{padding-left:30px;}
.top_pro_detail .top_pro_nutri .allergy_info{border-top:1px solid #e6e6e6; box-sizing:border-box;}
.top_pro_detail .top_pro_nutri .allergy_info p{padding-left:0;}

}