@charset "utf-8";

.screen_out{display:block; overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-99999px;}
.festa_pop .pop_blind:after{display:block; position:fixed; content:""; width:100%; height:100%; background:#000; top:0; opacity:0.7;}
.festa_pop .festa_box{position:relative; z-index:10; width:95%; max-width:730px; margin:80px auto; text-align:center;}
.festa_pop .festa_box .pop_close{position:absolute; top:-50px; right:13px;}
.festa_pop .festa_box .pop_img{position:relative;}
.festa_pop .festa_box .pop_img > img{width:100%;}
.festa_pop .festa_box .video_wrap .video{position:absolute; width:87.6%; height:25%; left:6.4%; top:36%;}
.festa_pop .festa_box .app_link{position:absolute; top:72%; left:19%; width:80%;}
.festa_pop .festa_box .app_link li{float:left;}
.festa_pop .festa_box .app_link li img{width:100%}
.festa_pop .festa_box .app_link li.app_down{width:50%;}
.festa_pop .festa_box .app_link li.app_down img{max-width:210px;}
.festa_pop .festa_box .app_link li.app_store{width:12%;}
.festa_pop .festa_box .app_link li.app_store img{max-width:44px;}
.festa_pop .festa_box .app_link li.google_play{width:12%;}
.festa_pop .festa_box .app_link li.google_play img{max-width:44px;}
.festa_pop .festa_box .app_link li a{display:block;}
.festa_pop .festa_box .sns_link{position:absolute; top:85.7%; left:35%; width:30%;}
.festa_pop .festa_box .sns_link li{float:left; width:30%; margin-left:5%;}
.festa_pop .festa_box .sns_link li:first-child{margin-left:0;}
.festa_pop .festa_box .sns_link li img{width:100%; max-width:59px;}
.festa_pop .festa_box .app_link li a{display:block;}

/* 640px 이상 해상도 */
@media screen and (min-width:640px){
.festa_pop .festa_box .app_link{left:25%; width:70%;}
}

/* 680px 이상 해상도 */
@media screen and (min-width:680px){
.festa_pop .festa_box .app_link{left:26%; width:64%;}
}

/* 980px 이상 해상도 */
@media screen and (min-width:980px){
.festa_pop .festa_box .app_link{left:27%; width:60%;}
}