<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.erp.hr.model.empTnaDAO">
	

<insert id ="insertEmpTna" parameterType="com.cafe.erp.hr.model.empTnaDTO" >
		insert into cafe_emptna(emptna_code,emptna_empcode,emptna_year,
		emptna_month,emptna_day,emptna_starttime) values( 
		(select nvl(max(emptna_code),0)+1 from cafe_emptna), 
		(select employee_code from cafe_employee where employee_name=#{employee_name} and employee_jumin=#{employee_jumin})
		,to_number(to_char(sysdate,'yyyy')),to_number(to_char(sysdate,'mm'))
		,to_number(to_char(sysdate,'dd')),sysdate)
</insert>

<select id="selectEmp" parameterType="hashmap" resultType="integer">
	select count(*) from cafe_empTna a inner join cafe_employee b on a.emptna_empcode=b.employee_code where emptna_year=to_number(to_char(sysdate,'yyyy')) and
	emptna_month=to_number(to_char(sysdate,'mm')) and emptna_day=to_number(to_char(sysdate,'dd')) and b.employee_name=#{employee_name} and b.employee_jumin=#{employee_jumin}
</select>


<update id="updateEmpTna" parameterType="hashmap" >
	update cafe_emptna set emptna_endtime=sysdate,
	emptna_daytotaltime=(select round((sysdate-emptna_starttime)*24,1) from cafe_emptna where emptna_year=(to_number(to_char(sysdate,'yyyy'))) 
	 and emptna_month=(to_number(to_char(sysdate,'mm'))) 
	 and emptna_day=(to_number(to_char(sysdate,'dd')))
     and emptna_empcode=(select distinct b.emptna_empcode from cafe_employee a inner join cafe_emptna b 
	on a.employee_code = b.emptna_empcode where a.employee_name=#{employee_name} and a.employee_jumin=#{employee_jumin}))
	where emptna_empcode= (select distinct b.emptna_empcode from cafe_employee a inner join cafe_emptna b 
	on a.employee_code = b.emptna_empcode where a.employee_name=#{employee_name} and a.employee_jumin=#{employee_jumin})
	and emptna_year=(to_number(to_char(sysdate,'yyyy'))) 
	 and emptna_month=(to_number(to_char(sysdate,'mm'))) 
	 and emptna_day=(to_number(to_char(sysdate,'dd')))
	 </update>
	
	
	<select id="getEmpTnaCount" resultType="integer">
		SELECT COUNT(*)FROM cafe_empTna
	</select>
	
	<select id="getEmpTnaMonthCount" parameterType="hashmap"  resultType="integer">
		SELECT COUNT(*)FROM cafe_empTna a inner join cafe_employee b on a.emptna_empcode = b.employee_code where a.emptna_year=#{emptna_year} and a.emptna_month=#{emptna_month} and b.employee_name=#{employee_name}
	</select>
	
	<select id="getEmpTnaDayCount" parameterType="hashmap" resultType="integer">
		SELECT COUNT(*)FROM cafe_empTna where emptna_year=#{emptna_year} and emptna_month=#{emptna_month} and emptna_day=#{emptna_day}
	</select>
	 
	 <select id="getYear" resultType="com.cafe.erp.hr.model.empTnaDTO">
		select distinct emptna_year from cafe_emptna order by emptna_year asc
	</select>
	 
	 
	<select id="getMonth" resultType="com.cafe.erp.hr.model.empTnaDTO">
		select distinct emptna_month from cafe_emptna order by emptna_month asc
	</select>
	
	<select id="getDay" resultType="com.cafe.erp.hr.model.empTnaDTO">
		select distinct emptna_day from cafe_emptna order by emptna_day asc
	</select>
	
	<select id="getName" resultType="com.cafe.erp.hr.model.empTnaDTO">
		select employee_name from cafe_employee order by employee_name asc
	</select>
	
<!-- 	<select id="getEmpTna" parameterType="integer" resultType="com.cafe.erp.hr.model.empTnaDTO"> -->
<!-- 		select * from cafe_emptna where emptna_code=#{emptna_code} -->
<!-- 	</select> -->
	<select id ="getEmpTnaList" parameterType="hashmap"
		resultType="com.cafe.erp.hr.model.empTnaDTO">
		select * from
		( select A.*, rownum r from( select b.emptna_code,a.employee_name,b.emptna_year,b.emptna_month,b.emptna_day,b.emptna_starttime,b.emptna_endtime,b.emptna_daytotaltime from cafe_employee a inner join cafe_emptna b on a.employee_code = b.emptna_empcode 
		order by emptna_code desc ) A) where r >= #{start} and r &lt;= #{end }

	</select>
	
	<select id="getMonthRead" parameterType="hashmap" resultType="com.cafe.erp.hr.model.empTnaDTO">
	select * from
		( select A.*, rownum r from(select b.emptna_code,a.employee_name,b.emptna_year,b.emptna_month,b.emptna_day,
		b.emptna_starttime,b.emptna_endtime,b.emptna_daytotaltime from cafe_employee a inner join cafe_emptna b on 
		a.employee_code = b.emptna_empcode
		where b.emptna_year=#{emptna_year} and b.emptna_month=#{emptna_month} and a.employee_name=#{employee_name} 
		order by b.emptna_day asc) A) 
		where r >= #{start} and r &lt;= #{end }

	</select>
	
	<select id="getDayRead" parameterType="hashmap" resultType="com.cafe.erp.hr.model.empTnaDTO">
		select * from
		( select A.*, rownum r from(select b.emptna_code,a.employee_name,b.emptna_year,b.emptna_month,
		b.emptna_day,b.emptna_starttime,b.emptna_endtime,b.emptna_daytotaltime from cafe_employee a 
		inner join cafe_emptna b on a.employee_code = b.emptna_empcode where b.emptna_year=#{emptna_year} 
		and b.emptna_month=#{emptna_month} and b.emptna_day=#{emptna_day} order by a.employee_name asc) A) 
		where r >= #{start} and r &lt;= #{end }
	</select>
	

	<select id="selectEmp2" parameterType="hashmap" resultType="com.cafe.erp.hr.model.empTnaDTO">
	select * from cafe_emptna where emptna_empcode=(select distinct b.emptna_empcode from cafe_employee a inner join cafe_emptna b 
	on a.employee_code = b.emptna_empcode where a.employee_name=#{employee_name} and a.employee_jumin=#{employee_jumin})
	and emptna_year=(to_number(to_char(sysdate,'yyyy'))) 
	 and emptna_month=(to_number(to_char(sysdate,'mm'))) and emptna_day=(to_number(to_char(sysdate,'dd')))
	
	</select>
	
	<update id="updateEmpTna3" parameterType="com.cafe.erp.hr.model.empTnaDTO">
		UPDATE cafe_emptna SET
		emptna_starttime =to_date(#{starttime},'yyyy-MM-dd HH24:mi'),
		emptna_endtime=to_date(#{endtime},'yyyy-MM-dd HH24:mi'),
		emptna_daytotaltime=(select round((to_date(#{endtime},'yyyy-MM-dd HH24:mi')-to_date(#{starttime},'yyyy-MM-dd HH24:mi'))*24,1) from cafe_emptna where emptna_code=#{emptna_code})
		WHERE
		emptna_code=#{emptna_code}
	</update>
	
	<select id="getEmpTna" parameterType="integer" resultType="com.cafe.erp.hr.model.empTnaDTO">
		select b.emptna_code,a.employee_name,b.emptna_year,b.emptna_month,b.emptna_day,b.emptna_starttime,
		b.emptna_endtime,b.emptna_daytotaltime from cafe_employee a 
		inner join cafe_emptna b on a.employee_code = b.emptna_empcode  where b.emptna_code=#{emptna_code}
	</select>
	
	
</mapper>