<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.erp.sale.model.ProductDAO">
<!--
	public void insertProduct(ProductVO vo);				//쓰기
	public List<ProductVO> getProductList(HashMap map);		//읽기
	public ProductVO getProductByCode(int num);				//읽기 by num
	public int updateProduct(ProductVO vo);					//수정
	public int deleteProduct(ProductVO vo);					//삭제
	
		public int getProductCount();					//전체 record 수
		
			public List<ProductVO> getProductPlusCategoryList(HashMap map);		//읽기
	
		
-->

	<insert id="insertProduct" parameterType="com.cafe.erp.sale.model.ProductVO">
		insert into CAFE_PRODUCT(CAFE_PRODUCT_CODE,CAFE_PRODUCT_NAME,CAFE_PRODUCT_PRICE,CAFE_PRODUCT_IMG,PRODUCT_CATEGORY_CODE) values( (select NVL(max(CAFE_PRODUCT_CODE), 0)+1 from CAFE_PRODUCT),#{cafe_product_name},#{cafe_product_price},#{cafe_product_img},#{product_category_code})	
	</insert>

	<select id="getProductList" parameterType="hashmap" resultType="com.cafe.erp.sale.model.ProductVO">
		select * from ( select A.*,rownum r from ( select * from CAFE_PRODUCT order by CAFE_PRODUCT_CODE desc) A ) X, CAFE_PRODUCT_CATEGORY Y where X.PRODUCT_CATEGORY_CODE=Y.product_category_code and r>= #{start} and r &lt;= #{end}
	
<!-- 		select * from ( select A.*,rownum r from ( select * from CAFE_PRODUCT order by CAFE_PRODUCT_CODE desc) A ) where r>= #{start} and r &lt;= #{end}
 -->
 	</select>
	
	<select id="getProductByCode" parameterType="int" resultType="com.cafe.erp.sale.model.ProductVO">
		select * from CAFE_PRODUCT where CAFE_PRODUCT_CODE = #{num}
	</select>
	
	<update id="updateProduct"  parameterType="com.cafe.erp.sale.model.ProductVO">
		update cafe_product set cafe_product_name=#{cafe_product_name}, cafe_product_price=#{cafe_product_price}, cafe_product_img = #{cafe_product_img}, product_category_code = #{product_category_code}
		where cafe_product_code=#{cafe_product_code} 
	</update>

	<delete id="deleteProduct" parameterType="com.cafe.erp.sale.model.ProductVO" >
		delete from CAFE_PRODUCT where CAFE_PRODUCT_CODE=#{cafe_product_code}
	</delete>
	
	<select id="getProductCount" resultType="Integer">
		select count(*) from CAFE_PRODUCT
	</select>

	<select id="getProductPlusCategoryList" parameterType="hashmap" resultType="com.cafe.erp.sale.model.ProductVO">
		select * from CAFE_PRODUCT,CAFE_PRODUCT_CATEGORY where CAFE_PRODUCT.PRODUCT_CATEGORY_CODE=cafe_product_category.product_category_code
	</select>
	
	

</mapper>